<div data-role="header">
    <a href="#audit/<%= audit_number %>/theme/<%= theme %>/question/<%= audit_question_id %>" data-icon="back" data-direction="reverse" class="back ui-btn-left">Retour à la question</a>
    <h1>DDO-IT</h1>
</div>

<div data-role="content">

    <ul data-role="listview"  data-inset="true">
        <% _.each(checklists, function(checklist){
            for(var i = 0; i < checklist.number; ++i) { %>
                <li><a href="#checklist/<%= checklist.id%>?num=<%= i+1 %>&question=<%= question %>&audit=<%= audit_number%>"><%= checklist.name %> - numéro <%= i+1 %> </a></li>
            <% } %>
        <% }) %>
    </ul>

</div>
