<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li><span class="span-nav">AJOUTER AU STOCK</span></li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <div>
        <div class="produit_nav" style="max-width: 300px;margin: auto;line-height: 35px;">
            <a href="#" class="nav-right-a"><div class="nav-left text-right" style="width: 10%; "><img style="padding-right: 5px;" src="css/images/icons-png/arrow-l-black.png" />&nbsp;</div></a>
            <div class="nav-center ffmoreprbold dizhui_pt" style="width: 78%;border: solid 1px black;border-radius: 15px"></div>
            <a href="#" class="nav-left-a"><div class="nav-right text-left" style="width: 10%;"><img style="padding-left: 5px;" src="css/images/icons-png/arrow-r-black.png" />&nbsp;</div></a>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="comm_prod_content">
        <p class="diz_pt ffmorepromed text-left" style="padding: 1% 10%;">IMPORTANT : LES SORTIES DE STOCKS SE FONT UNIQUEMENT PAR CAISSES DE 6 OU 12 BOUTEILLES OU PAR FUT</p>
        <div class="comm_2_content"></div>
        <p class="dou_pt ffmorepromed text-right" id="motant_panier" style="padding: 2% 10%;">MON STOCK MONTANT H.T XXXX &euro;</p>
    </div>
</div>

<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>

            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>