<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li>CHOISIR UNE ACTION</li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <ul id="lien_menu_p">
        <li>
            <a href="#commander">
                <div class="menu_p_title ffmoreprbold dou_pt">
                    NOUVELLE COMMANDE
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#historiqueCommande">
                <div class="menu_p_title ffmoreprbold dou_pt">
                    HISTORIQUE DE MES COMMANDES
                    <div class="menu_p_img "><img src="" /></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#encoursFacturation">
                <div class="menu_p_title ffmoreprbold dou_pt">
                    EN-COURS FACTURATION
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#" class="cancel" >Annuler</a>
    </div>
</div>
