<div data-role="header">
    <div class="header_bloc_left">
        <a href="#home">&eacute;tape pr&eacute;c&eacute;dente</a>
    </div>
    <h1>ASAR</h1>
    <img style="float: left" src=""/>
    <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    
    <div id="page-title">
        CHOISIR UNE CAT&Eacute;GORIE
        <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    </div>
</div>

<div data-role="content">
    <ul id="lien_menu_p">
        <li>
            <a href="#commander">
                <div class="menu_p_title">
                    NOUVELLE COMMANDE
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#historiqueCommande">
                <div class="menu_p_title">
                    HISTORIQUE DE MES COMMANDES
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#encoursFacturation">
                <div class="menu_p_title">
                    EN-COURS FACTURATION
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div data-role="footer" id="footer">
    <div class="footer_div">
        <a href="#home">
            <div><img src="" /></div>
            <div>Accueil</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#consult_stock" class="active">
            <div><img src="" /></div>
            <div>Consulter le stock</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#destock">
            <div><img src="" /></div>
            <div>D&eacute;stocker un article</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#parametre">
            <div><img src="" /></div>
            <div>Mon compte</div>
        </a>
    </div>
    <div class="clear"></div>
</div>