<div data-role="header">
    <div class="header_bloc_left">
        <a href="#home">&eacute;tape pr&eacute;c&eacute;dente</a>
    </div>
    <h1>ASAR</h1>
    <img style="float: left" src=""/>
    <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    
    <div id="page-title">
        COMMANDER
        <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    </div>
    
    <div class="produit_nav">
        <div class="nav-left"><img src="" />&nbsp;</div>
        <div class="nav-center"><div><%= categorie.libelle %></div></div>
        <div class="nav-right"><img src="" />&nbsp;</div>
        <div class="clear"></div>
    </div>
</div>




<!--div id="nav-panel-user" data-role="panel" data-position="right" data-theme="b">
    <div class="ui-panel-inner">
        <h3><%= user.firstname %> <%= user.lastname %></h3>
        <a href="#logout" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left">
        <span class="ui-btn-inner">Se deconnecter</span>
        </a>
    </div>
</div-->
<div data-role="content">
    <div class="comm_prod_content">
        <p>IMPORTANT : LES SORTIES DE STOCKS SE FONT UNIQUEMENT PAR CAISSES DE 6 OU 12 BOUTEILLES OU PAR FUT</p>
        <% cat_id = null; %>
        <% _.each(categorie.list_produit, function(cat){ %>
            
            <% if(cat_id != null && cat.ss_cat != null && cat_ss_cat.id != cat_id){ %>
                </div>
            <%}%>
        
            <% if(cat_id == null || (cat.ss_cat != null && cat_ss_cat.id != cat_id)) { %>
                <div class="ss_cat_com_prod">
                    <div class="ss_cat_com_prod_title"><% if(cat.ss_cat != null){ %> <%= cat_ss_cat.libelle %> <%}%></div>
                <% if(cat.ss_cat != null) { cat_id = cat_ss_cat.id; } else {cat_id = 0;} %>
            <% } %>
            
            <% if(cat.produit.length > 0) { %>
                <ul class="comm_prod_list_product">
                <% _.each(cat.produit, function(prod){ %>
                    <li>
                        <div>
                            <div class="comm_prod_list_product_div1"><%= prod.libelle %></div>
                            <div class="comm_prod_list_product_div2"><input type="text" value="4" data-role="none"/></div>
                            <div class="comm_prod_list_product_div3">-</div>
                            <div class="comm_prod_list_product_div4"><input type="text" value="1" data-role="none"/></div>
                            <div class="comm_prod_list_product_div5">+</div>
                            <div class="comm_prod_list_product_div6"><input type="button" value="ajouter" data-role="none"/></div>
                            <div class="clear"></div>
                        </div>
                    </li>
                <% }); %>
                </ul>
            <% } %>
            
        <% }); %>
        
        <% if(cat_id != null){ %>
            </div>
        <%}%>
    </div>
</div>
<div data-role="footer" id="footer">
    <div class="footer_div">
        <a href="#home">
            <div><img src="" /></div>
            <div>Accueil</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#">
            <div><img src="" /></div>
            <div>Nouveaut&eacute;s & Promotions</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#commander" class="active">
            <div><img src="" /></div>
            <div>Commander</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#parametre">
            <div><img src="" /></div>
            <div>Mon compte</div>
        </a>
    </div>
    <div class="clear"></div> 
</div>