<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><a href="#login" id="cancel"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li>CREATION DE COMPTE</li>
    </ul>
</div><!-- /navbar -->

<div data-role="content" style="text-align: center">
    <div style="border: solid 1px black; width: 65%; margin: auto; border-radius: 15px;">
        <form>
            <div id="error"></div>
            <div id="success"></div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="nom">Nom<span class="required">*</span></label></div>
                <input type="text" name="nom" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="prenom">Pr&eacute;nom<span class="required">*</span></label></div>
                <input type="text" name="prenom" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="societe">Soci&eacute;t&eacute;<span class="required">*</span></label></div>
                <input type="text" name="societe" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="adr_societe">Adresse Soci&eacute;t&eacute;<span class="required">*</span></label></div>
                <input type="text" name="adr_societe" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="cp">Code postal<span class="required">*</span></label></div>
                <input type="text" name="cp" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="ville">Ville<span class="required">*</span></label></div>
                <input type="text" name="ville" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="siret">SIRET<span class="required">*</span></label></div>
                <input type="text" name="siret" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="tva">N TVA INTERCOMMUNAUTAIRE<span class="required">*</span></label></div>
                <input type="text" name="tva" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="horaire">HORAIRES LIVRAISON</label></div>
                <textarea name="horaire" class=" text-left" ></textarea>
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="information">INFORMATION LIVREUR</label></div>
                <textarea name="information" class=" text-left" ></textarea>
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="email">EMAIL<span class="required">*</span></label></div>
                <input type="text" name="email" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="email_conf">CONFIRMATION EMAIL<span class="required">*</span></label></div>
                <input type="text" name="email_conf" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="password">PASSWORD<span class="required">*</span></label></div>
                <input type="password" name="password" value="" class="required" required="required" />
            </div>
            
            <div data-role="fieldcontain" class="ui-label" style=" padding: 0 2%; width: 96%">
                <div style="width: 100%; text-align: left"><label class="text-left qua_pt ffmoreprobook" for="password_conf">CONFIRMATION PASSWORD<span class="required">*</span></label></div>
                <input type="password" name="password_conf" value="" class="required" required="required" />
            </div>
            
            
            <div style="clear: both"></div>
            <p class="diz_pt ffmorepromed text-left" style="color: red">* Tous les champs requis sont obligatoires</p>
            <p class="diz_pt ffmorepromed text-left">ATTENTION VOTRE COMPTE NE SERA  ACTIF QU'APRES VALIDATION DE VOTRE COMMERCIAL ASAR</p>
            
            <a href="#" id="submitform">
                <div  class="dou_pt ffmoreproblack formvalid" style="width: 96%;padding: 2%;">
                    valider
                </div>
            </a>

            <!--div data-corners="true" data-shadow="true" data-iconshadow="true"
                    data-wrapperels="span" data-icon="null" data-iconpos="null"
                    data-theme="b"

                    aria-disabled="false">
                    <button type="submit" data-theme="b" name="submit"
                            value="submit-value" class="ui-btn-hidden" aria-disabled="false">Se connecter</button>
            </div-->
        </form>
    </div>
</div>
