<div data-role="header">
    <div class="header_bloc_left">
        <a href="#home">&eacute;tape pr&eacute;c&eacute;dente</a>
    </div>
    <h1>ASAR</h1>
    <img style="float: left" src=""/>
    <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    
    <div id="page-title">
        D&Eacute;STOCKER UN ARTICLE
        <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    </div>
</div>




<!--div id="nav-panel-user" data-role="panel" data-position="right" data-theme="b">
    <div class="ui-panel-inner">
        <h3><%= user.firstname %> <%= user.lastname %></h3>
        <a href="#logout" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left">
        <span class="ui-btn-inner">Se deconnecter</span>
        </a>
    </div>
</div-->
<div data-role="content">
    <div class="comm_prod_content">
        <p>IMPORTANT : LES SORTIES DE STOCKS SE FONT UNIQUEMENT PAR CAISSES DE 6 OU 12 BOUTEILLES OU PAR FUT</p>
        <table style="text-align: center;width: 80%; margin: auto; border-collapse:collapse">
            <tr>
                <th style="border: solid 1px black;width: 20%">PRDUIT</th>
                <th style="border: solid 1px black;width: 20%">REFERENCE PRODUIT</th>
                <th style="border: solid 1px black;width: 20%">MON STAOCK</th>
                <th style="border: solid 1px black;width: 20%">PRIX UNITAIRE H.T</th>
                <th style="border: solid 1px black;width: 20%">QUANTITE</th>
            </tr>
            <tr>
                <td style="border: solid 1px black;">&nbsp;</td>
                <td style="border: solid 1px black;">&nbsp;</td>
                <td style="border: solid 1px black;">&nbsp;</td>
                <td style="border: solid 1px black;">&nbsp;</td>
                <td style="border: solid 1px black;">
                    <div class="comm_prod_list_product_div3">-</div>
                    <div class="comm_prod_list_product_div4"><input type="text" value="1" data-role="none"/></div>
                    <div class="comm_prod_list_product_div5">+</div>
                </td>
            </tr>
        </table>
        <p>ENTREE DE STOCK MONTANT H.T. 0.00 €</p>
        <p>LES PRODUITS ET QUANTITES AFFICHES SONT CEUX DE LA DERNIERE COMMANDE PASSEE</p>
        
        <div style="display: table;width: 100%">
            <a href="#" style="width: 50%; display: table-cell; text-align: center">
                <div style="width: 96%; color: white; background-color: black; border-bottom-left-radius: 15px; padding: 2%; ">
                    Valider
                </div>
            </a>

            <a href="#inventaire" style="width: 50%; display: table-cell; text-align: center">
                <div style="width: 96%; color: white; background-color: black; border-bottom-right-radius: 15px; padding: 2%; ">
                    MON STOCK MONTANT H.T XXXX
                </div>
            </a>
            <div style="clear: both"></div>
        </div>
    </div>
</div>
<div data-role="footer" id="footer">
    <div class="footer_div">
        <a href="#home">
            <div><img src="" /></div>
            <div>Accueil</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#consult_stock">
            <div><img src="" /></div>
            <div>Consulter le stock</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#destock" class="active">
            <div><img src="" /></div>
            <div>D&eacute;stocker un article</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#parametre">
            <div><img src="" /></div>
            <div>Mon compte</div>
        </a>
    </div>
    <div class="clear"></div>
</div>