<div data-role="header">
    <div class="header_bloc_left">
        <a href="#home">&eacute;tape pr&eacute;c&eacute;dente</a>
    </div>
    <h1>ASAR</h1>
    <img style="float: left" src=""/>
    <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    
    <div id="page-title">
        HISTORIQUE DE MES COMMANDES
        <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    </div>
    
    <div class="produit_nav">
        <a href="#">Ajouter un produit</a>
    </div>
</div>


<div data-role="content">
    <div class="comm_prod_content">
        <div style="margin-top: 1em; margin-bottom: 1em">
            <table style="text-align: center;width: 80%; margin: auto; border-collapse:collapse">
                <tr>
                    <th style="border: solid 1px black;width: 33%">COMMANDE</th>
                    <th style="border: solid 1px black;width: 33%">DATE</th>
                    <th style="border: solid 1px black;width: 33%">MONTANT H.T</th>
                </tr>
                <tr>
                    <td style="border: solid 1px black;">&nbsp;</td>
                    <td style="border: solid 1px black;">&nbsp;</td>
                    <td style="border: solid 1px black;">&nbsp;</td>
                </tr>
            </table>
        </div>
        
        <div style="display: table;width: 100%">
        <a href="#" style="width: 50%; display: table-cell; text-align: center">
            <div style="width: 96%; color: white; background-color: black; border-bottom-left-radius: 15px; padding: 2%; ">
                Envoyer par mail
            </div>
        </a>

        <a href="#" style="width: 50%; display: table-cell; text-align: center">
            <div style="width: 96%; color: white; background-color: black; border-bottom-right-radius: 15px; padding: 2%; ">
                Page suivante
            </div>
        </a>
        <div style="clear: both"></div>
    </div>
</div>
<div data-role="footer" id="footer">
    <div class="footer_div">
        <a href="#home">
            <div><img src="" /></div>
            <div>Accueil</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#consult_stock" class="active">
            <div><img src="" /></div>
            <div>Consulter le stock</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#destock">
            <div><img src="" /></div>
            <div>D&eacute;stocker un article</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#parametre">
            <div><img src="" /></div>
            <div>Mon compte</div>
        </a>
    </div>
    <div class="clear"></div>
</div>