<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li>CHOISIR UNE ACTION</li>
    </ul>
</div><!-- /navbar -->




<!--div id="nav-panel-user" data-role="panel" data-position="right" data-theme="b">
    <div class="ui-panel-inner">
        <h3><%= user.firstname %> <%= user.lastname %></h3>
        <a href="#logout" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left">
        <span class="ui-btn-inner">Se deconnecter</span>
        </a>
    </div>
</div-->
<div data-role="content">
    <ul id="lien_menu_p">
        <li>
            <a href="#commanderMenu">
                <div class="menu_p_title">
                    COMMANDER
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#consult_stock">
                <div class="menu_p_title">
                    GERER MON STOCK
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#moncompte">
                <div class="menu_p_title">
                    MON COMPTE
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>

            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>