<div data-role="header">
    <h1>Pointeuse</h1>
    <a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a>
</div>

<div id="nav-panel-user" data-role="panel" data-position="right" data-theme="b">
    <div class="ui-panel-inner">
        <h3><%= user.firstname %> <%= user.lastname %></h3>
        <a href="#logout" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left">
        <span class="ui-btn-inner">Se deconnecter</span>
        </a>
    </div>
</div>
<div data-role="content">
    <input type="button" name="entree" id="entree" class="ui-btn-hidden" value="Pointage d' entrée" />
    <input type="button" name="sortie" id="sortie" class="ui-btn-hidden" value="Pointage de Sortie" />
</div>