
    <div data-role="header">
	<h1>Pointeuse</h1>
    </div>
    <div data-role="content">
        <div id="error"></div>
	<h3>Bienvenue sur cette application</h3>
	<p>Pour utiliser notre service vous devez être identifié</p>
	<form>
		<fieldset>
		<div data-role="fieldcontain" class="ui-hide-label">
			<label for="username">Identifiant:</label> <input type="text"
				name="login" id="login" value="" class="required"
				placeholder="Identifiant" />
		</div>
		<div data-corners="true" data-shadow="true" data-iconshadow="true"
			data-wrapperels="span" data-icon="null" data-iconpos="null"
			data-theme="b"
			
			aria-disabled="false">
			<button type="submit" data-theme="b" name="submit"
				value="submit-value" class="ui-btn-hidden" aria-disabled="false">Se connecter</button>
		</div>
		</fieldset>
	</form>
    </div>
