<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li>MON EQUIPE</li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <div class="moneq_1_content">
        <!--div class="column1"></div>
        <div class="column2"></div-->        
    </div>
    
    <div style="display: table;width: 96%; margin:auto; text-align: center">
        <a  href="#" id="addmember" style="width: 89%;">
            <div class="dou_pt ffmoreproblack formvalid" style="margin: auto; width: 8em; border-radius: 15px; padding: 2% 0; ">
                Ajouter un membre
            </div>
        </a>
    </div>
</div>

<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>
            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>