<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li><span class="span-nav">SORTIE STOCK</span></li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <div class="comm_prod_content">
        <p class="diz_pt ffmorepromed text-left" style="padding: 1% 10%;">IMPORTANT : LES SORTIES DE STOCKS SE FONT UNIQUEMENT PAR CAISSES DE 6 OU 12 BOUTEILLES OU PAR FUT</p>
        <table style="text-align: center;width: 80%; margin: auto; border-collapse:collapse">
            <thead>
                <th class="clear" style="border: solid 1px black;width: 40%; position: relative">
                    <div style="padding-right: 15px;">PRODUIT</div>
                </th>
                <th style="border: solid 1px black;width: 20%">MON STOCK</th>
                <th style="border: solid 1px black;width: 20%">PRIX UNITAIRE H.T</th>
                <th style="border: solid 1px black;width: 20%">QUANTITE</th>
            </thead>
            <tbody></tbody>
        </table>
        <p class="dou_pt ffmorepromed text-right" id="somme_entree_ht" style="padding: 2% 10%;">SORTIE DE STOCK MONTANT H.T. 0.00 &euro;</p>
        <br/>
        <p class="dou_pt ffmorepromed text-right" style="padding: 2% 10%;">MON STOCK MONTANT H.T XXXX €</p>
        <br/>
    </div>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" class="sub_footer">
        <a href="#" class="valid_sortie">
            <div class="qua_pt ffmorepromed" style="color: white" >Valider</div>
        </a>
    </div>
    <div data-enhance="false" id="test-container" style="padding-top: 1em;">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>

            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>