<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li>MON STOCK</li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <ul id="lien_menu_p">
        <li>
            <a href="#monstockAdd">
                <div class="menu_p_title">
                    ENTRER STOCK A LIVRAISON
                </div>
            </a>
        </li>
        <li>
            <a href="#monstockDestock">
                <div class="menu_p_title">
                    SORTIE STOCK
                </div>
            </a>
        </li>
        <li>
            <a href="#monstockCassePerte">
                <div class="menu_p_title">
                    CASSE / PERTE
                </div>
            </a>
        </li>
        <li>
            <a href="#historiqueCommande">
                <div class="menu_p_title">
                    HISTORIQUE DES ENTREES / SORTIES / CASSE / PERTE
                </div>
            </a>
        </li>
    </ul>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>
            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>