<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 1em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li><span class="span-nav">ENTREE STOCK</span></li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <div class="comm_prod_content">
        <p class="qua_pt ffmorepromed text-left" style="padding: 1% 10%;">MOTIF DE MODIFICATION DE QUANTITE DE PRODUITS RECUS</p>
        <div class="floatl" style="width:50%;margin-top: 10px;">
            <a href="#" class="motif" data-motif="Non livrés"><div class="cell_modif_entree">PRODUITS NON LIVRES</div></a>
        </div>
        <div class="floatl" style="width:50%;margin-top: 10px; ">
            <a href="#" class="motif" data-motif="Cassés"><div class="cell_modif_entree">PRODUITS CASSES</div></a>
        </div>
        <div class="floatl" style="width:50%;margin-top: 10px; ">
            <a href="#" class="motif" data-motif="Détériorés"><div class="cell_modif_entree">PRODUITS DETERIORES OU NON CONFORMES</div></a>
        </div>
        <div class="floatl" style="width:50%;margin-top: 10px; ">
            <a href="#" class="motif" data-motif="A reprendre"><div class="cell_modif_entree">PRODUITS NON COMMANDES A REPRENDRE</div></a>
        </div>
        <div class="floatl" style="width:100%;margin-top: 10px; ">
            <a href="#" class="motif" data-motif="Autre distributeur ou appoint"><div class="cell_modif_entree" style="width: 50%;">PRODUITS ACHETES A UN AUTRE DISTRIBUTEUR EN APPOINT</div></a>
        </div>
    </div>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>

            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>