<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 3em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li><span class="span-nav">HISTORIQUE DES ENTRES SORTIES CASSE PERTE</span></li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <div class="comm_prod_content">
        <table style="text-align: center;width: 80%; margin: auto; border-collapse:collapse">
            <thead>
                <tr>
                    <th style="border: solid 1px black;width: 15%">PRODUIT</th>
                    <th style="border: solid 1px black;width: 30%">QUANTITE</th>
                    <th style="border: solid 1px black;width: 40%">P.U.H.T</th>
                    <th style="border: solid 1px black;width: 15%">P.T.H.T</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" class="sub_footer">
        <a href="#" class="valid_entree">
            <div class="qua_pt ffmorepromed" style="color: white" >Envoyer par mail</div>
        </a>
    </div>
    <div data-enhance="false" id="test-container" style="padding-top: 1em;">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>

            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>