<div data-role="header">
    <div class="header_bloc_left">
        <a href="#home">&eacute;tape pr&eacute;c&eacute;dente</a>
    </div>
    <h1>ASAR</h1>
    <img style="float: left" src=""/>
    <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    
    <div id="page-title">
        JE CREE MON EQUIPE
        <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    </div>
</div>




<!--div id="nav-panel-user" data-role="panel" data-position="right" data-theme="b">
    <div class="ui-panel-inner">
        <h3><%= user.firstname %> <%= user.lastname %></h3>
        <a href="#logout" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left">
        <span class="ui-btn-inner">Se deconnecter</span>
        </a>
    </div>
</div-->
<div data-role="content">
    <div class="comm_1_content">
        <div class="ligne bg_haut">
            <div data-id="" class="comm_1_cat bg_droite"><div>NOUVEAU MEMBRE</div></div>
            <div data-id="" class="comm_1_cat "><div>NOUVEAU MEMBRE</div></div>
            <div data-id="" class="comm_1_cat bg_droite"><div>NOUVEAU MEMBRE</div></div>
            <div data-id="" class="comm_1_cat "><div>NOUVEAU MEMBRE</div></div>
            <div data-id="" class="comm_1_cat bg_droite"><div>NOUVEAU MEMBRE</div></div>
            <div data-id="" class="comm_1_cat "><div>NOUVEAU MEMBRE</div></div>
        </div>
        <div class="clear"></div> 
    </div>
    
    <p style="text-align: center">ATTENTION VOTRE COMPTE NE SERA  ACTIF QU'APRES VALIDATION DE VOTRE COMMERCIAL ASAR</p>
    
    <div style="display: table;width: 96%; margin:auto; text-align: center">
        <a  href="#" id="submitform" style="width: 89%;">
            <div style="width: 100%; color: white; background-color: black; border-bottom-right-radius: 15px;border-bottom-left-radius: 15px; padding: 2% 0; ">
                Valider
            </div>
        </a>
    </div>
</div>
<div data-role="footer" id="footer">
    <div class="footer_div">
        <a href="#home">
            <div><img src="" /></div>
            <div>Accueil</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#">
            <div><img src="" /></div>
            <div>Nouveaut&eacute;s & Promotions</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#commander" class="active">
            <div><img src="" /></div>
            <div>Commander</div>
        </a>
    </div>
    <div class="footer_div">
        <a href="#parametre">
            <div><img src="" /></div>
            <div>Mon compte</div>
        </a>
    </div>
    <div class="clear"></div> 
</div>