<div data-role="header" id="headerappli" style="position: relative">
    <h1>ASAR</h1>
    <div style="position: absolute; right: 1em; top: 1em;"><a href="#home"><img src="css/images/icons-png/icon.png" style="width: 3em; height: 5em" /></a></div>
</div><!-- /header -->

<div data-role="navbar">
    <ul>
        <li><span class="span-nav">CASSE / PERTE STOCK</span></li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">
    <div class="comm_prod_content clear">
        <p class="qua_pt ffmorepromed text-left" style="padding: 1% 10%;">MOTIF</p>
        <div class="floatl" style="width:50%;margin-top: 10px;">
            <a href="#" class="motif" data-motif="cassé"><div class="cell_modif_entree">CASSE</div></a>
        </div>
        <div class="floatl" style="width:50%;margin-top: 10px; ">
            <a href="#" class="motif" data-motif="perte"><div class="cell_modif_entree">PERTE</div></a>
        </div>
    </div>
</div>
<div data-role="footer"  data-position="fixed">
    <div data-enhance="false" id="test-container">
        <a href="#logout">
            <div style="text-center">
                <img src="css/images/icons-png/cancel.png" />
            </div>

            <div class="cancel diz_pt ffmorepromed" >D&eacute;connexion</div>
        </a>
    </div>
</div>