<div data-role="header">
    <div class="header_bloc_left">
        <a href="#home">&eacute;tape pr&eacute;c&eacute;dente</a>
    </div>
    <h1>ASAR</h1>
    <img style="float: left" src=""/>
    <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    
    <div id="page-title">
        MON COMPTE
        <!--a href="#nav-panel-user" data-icon="user" data-iconpos="notext">Menu</a-->
    </div>
</div>




<!--div id="nav-panel-user" data-role="panel" data-position="right" data-theme="b">
    <div class="ui-panel-inner">
        <h3><%= user.firstname %> <%= user.lastname %></h3>
        <a href="#logout" data-rel="close" data-role="button" data-theme="c" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left">
        <span class="ui-btn-inner">Se deconnecter</span>
        </a>
    </div>
</div-->
<div data-role="content">
    <ul id="lien_menu_p">
        <li>
            <a href="#commande">
                <div class="menu_p_title">
                    HISTORIQUE DES COMMANDES
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
            <ul class="parametre_list_enfant">
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1"> COMMANDE043 / DATE : 16/09/2016</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none" type="button" value="voir" /></div>
                    </div>
                    
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1"> COMMANDE043 / DATE : 16/09/2016</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none"  type="button" value="voir" /></div>
                    </div>
                    
                </li>
            </ul>
        </li>
        <li>
            <a href="#consult_stock">
                <div class="menu_p_title">
                    HISTORIQUE D&Egrave;STOCKAGE
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
            <ul class="parametre_list_enfant">
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1"> SORTIE043 / DATE : 16/09/2016</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none" type="button" value="voir" /></div>
                    </div>
                    
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1"> SORTIE043 / DATE : 16/09/2016</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none"  type="button" value="voir" /></div>
                    </div>
                    
                </li>
            </ul>
        </li>
        <li>
            <a href="#destock">
                <div class="menu_p_title">
                    GESTION DE L'&Eacute;QUIPE 
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
            <ul class="parametre_list_enfant">
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">LISTE DES COMPTES</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none" type="button" value="voir" /></div>
                    </div>
                    
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">AJOUTER UN COMPTE</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none" class="btn-green" type="button" value="+" /></div>
                    </div>
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">D&Eacute;SACTIVER UN COMPTE</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none"  class="btn-red" type="button" value="x" /></div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#parametre">
                <div class="menu_p_title">
                    PARAM&Egrave;TRES DU COMPTE
                    <div class="menu_p_img"><img src="" /></div>
                </div>
            </a>
            <ul class="parametre_list_enfant">
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">NOM: JESSIE</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none" type="button" value="modifier" /></div>
                    </div>
                    
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">TEL: 0689562355</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none"  type="button" value="modifier" /></div>
                    </div>
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">CHANGER DE MOT DE PASSE</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none"  type="button" value="modifier" /></div>
                    </div>
                </li>
                <li>
                    <div class="div_h_comm">
                        <div class="div_h_comm_1">PAIEMENT / INFORMATION BANCAIRES</div>
                        <div class="div_h_comm_2"> <input data-enhance="false" data-role="none"  type="button" value="modifier" /></div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div data-role="footer" id="footer">
    <a href="#logout">
        <div><img src="" /></div>
        <div>Se deconnecter</div>
    </a>
</div>