    <div data-role="header">
            <a href="#" data-icon="back" data-direction="reverse" class="back ui-btn-left">Home</a>
            <h1>DDO-IT</h1>
    </div>
    <div data-role="content">
				<h3>Récupérer un des audits</h3>
				<ul id="syncPull" data-role="listview" data-inset="true" >
					<% _.each(audits_unsync, function(audit) {  %>
					<li data-icon="refresh" data-id=<%= audit.id %>><a>
						<h2 class="ui-li-heading"><%= audit.id %> - <%= audit.establishment.name %></h2>
						<p  class="ui-li-desc">
							<ul>
								<li><%= audit.state.name %></li>
								<li>Date de début : <%= audit.date_start %></li>
							</ul>
						</p>
					</a></li>
					<% }); %>
				</ul>	
    </div>
